<div class="col-lg-3">
  <div class="panel <%= class_name.html_safe %>">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <i class="fa fa-comments fa-5x"></i>
        </div>
        <div class="col-xs-6 text-right">
          <p class="announcement-heading"><%= value %></p>
          <p class="announcement-text"><%= label %>!</p>
        </div>
      </div>
    </div>
    <a href="#">
      <div class="panel-footer announcement-bottom">
        <div class="row">
          <div class="col-xs-6">
            <%= link %>
          </div>
          <div class="col-xs-6 text-right">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>